/* Header.module.css */

/* Basic header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #115487;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoText {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 20px; /* Space between items */
}

.navItem {
  list-style: none;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: yellow; /* Hover effect */
}

/* Mobile Navigation Styling */
.mobileNav {
  display: none; /* Hide mobile navigation by default */
}

.hamburgerButton {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Show hamburger button on mobile */
@media (max-width: 768px) {
  .nav {
    display: none; /* Hide desktop navigation on small screens */
  }

  .mobileNav {
    display: block; /* Show mobile navigation */
  }
}

/* Sheet specific styles for mobile */
.navListMobile {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.navLinkMobile {
  color: #333;
  font-size: 1.25rem;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navLinkMobile:hover {
  background-color: #f0f0f0;
}
